*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html {
    font-size: 62.5%;
    background-color: darkblue;
    width: 80%;
    margin: 0 auto;
     
}
.fa-user{
    color: #592b8d;
}
.fa-user .fa-user:hover{
    color: #c3a017;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* ///////////..utility classes../////////// */

.container {
    width: 90%;
    margin: auto;
}

#showcase {
    height: 500px;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}

.btn-primary {
    color: #ededed;
    font-weight: bolder;
    background: #348181;
}

.btn-primary:hover {
    background: #3e5f91;
    transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    width: 100%;
    color: #000;
    background-color: #d2be22;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
     z-index: 1000;
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
main {
  width: 90%;
  max-width: 1200px; /* keeps it from getting too wide on large monitors */
}
.menu-items {
    /* order: 2; */
    display: flex;
}
.menu-items li {
    list-style: none;
    margin-left: 90px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #000000;
    font-style: bold;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #ff0000;
    transition: color 0.3s ease-in-out;
}
.signin{
    display: flex;
    margin: 5px;
    padding: 0;
    margin-top: 17px;
    margin-right: 30px;
    margin-left: 20px;
    border: 1;
}
.signin li {
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.signin a {
    text-decoration: none;
    color: #ff2200;
    font-size: 3rem;
    border: #018fe7;
    border-style:circle;
    border-radius: 60px;
    transition: color 0.3s ease-in-out;
}

.signin a:hover {
    color: #000000;
    transition: color 0.3s ease-in-out;
}
.logo  img {
    height: 80px;
    margin-bottom: 1.3rem;
    margin-left: 0px;
    float: left;
}
.cart-items{
    margin-right: 10px;
}
.nav{
    width: 100%;
    color: #000;
    margin-top: 70px;
    background-color: #000000;
    height: 70px;
    display: flex;
    align-items: center;
}
.menu-items1 {
    display: flex;
}
.menu-items1 li {
    list-style: none;
    margin-left: 8rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items1 a {
    text-decoration: none;
    color: #ff0008;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items1 a:hover {
    color: #0fab8c;
    transition: color 0.3s ease-in-out;
}
/* cart */
.cart {
    position: fixed;
    top: 150px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: #5e4141;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 100;
    width: 240px;
}
.cartn{
    color: #e1af7e;
    font-size: 2.2rem;
    align-items: center;
}
.cartn1{
    color: #62ff00;
    font-size: 1.7rem;
    align-items: center;
}
#cart-items{
    color: #fff700;
    font-size: 1.3rem;
}
.payment{
    color: #13d79f;
    border: #009dff;
    background-color: #2e5c53;
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid #8585bea4;
    margin-top: 1em;
    text-transform: uppercase;
}
.payment:hover {
    background: #000000;
    transition: background 0.3s ease-in-out;
}
.Checkout{
    text-align: center;
}
/* ............//// Showcase styling ////......... */

.showcase-area {
    height: 70vh;
    background:
        url("https://i.ibb.co/42kWVkg/13003920-food-web-banner-16.jpg");
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    row-gap: 20px;
}
hr{
    border: none;
    border-top: 2px solid rgb(0, 0, 0);
}
.main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
    font-size: 4rem;
    color: rgb(125, 79, 79);
}

.showcase-container p {
    color: white;
}
/* ..........////Food category///........... */
#food {
    background: 
        url("https://i.ibb.co/52XdNrz/types.jpg");
    background-position: center;
    background-size: cover;
    background-position: center;
    padding: 50px 10px;
}
a{
    text-decoration:none;
    transition: color 0.3s ease-in-out;
    display: inline-block;
}
#food h2 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: rgb(88, 5, 176);
    font-weight: 700;
    font-family:cursive;
}
#food h3 {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: rgb(15, 209, 144);
    font-weight: 700;
    font-family:cursive;
}
.name{
    margin-top: 15px;
}
.food-container {
    display: flex;
    justify-content: space-between;
}

.food-container img {
    display: block;
    width: 100%;
    margin: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}

.img-container {
    margin: 0 1rem;
    position: relative;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3 {
    color: #fff;
    font-size: 2.2rem;
}
.img-content a {
    font-size: 1.2rem;
}
.name{
    text-align:center;
}
.img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}



/* .........../Food Menu/............ */
.food-menu{
    margin-bottom: 0;
    padding-bottom: 0px;
}
.food-menu-heading1 {
    text-align: center;
    font-size: 4.4rem;
    color: rgb(171, 8, 8);
    font-weight: 700;
    background: inherit; 
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.food-menu-heading2 {
    text-align: center;
    font-size: 3.4rem;
    color: rgb(111, 255, 0);
    font-weight: 700;
    background-color: inherit; 
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px 30px 0px;
}
.food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
#food-menu{
     background: 
        url("https://i.ibb.co/TPYhZwK/Screenshot-2024-04-29-103408.png");
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.description{
    text-decoration-color: #ff0000;
}
.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.food-menu-item1 {
    display: flex;
    flex: 1 1 6px;
    background:inherit;
    margin-bottom: 25px;
}
.food-description {
    margin: auto 1.5rem;
}

.food-titile {
    font-size: 1.8rem;
    font-weight: 400;
    color: #d89d11;
    font-family:cursive;
}

.food-description p {
    font-size: 1.3rem;
    color: #d60f0f;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.food-description .food-price {
    color: #1ad2ad;
    font-weight: 700;
}
.food-description .quantity {
    color: #1893cd;
    font-weight: 700;
}
/* ........./ reviews /.......... */

#reviews {
    height: 80vh;
    background:
        url("https://i.ibb.co/PNvkdBh/Blue-and-White-Modern-Elegant-Congratulations-Instagram-Post.png");
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
}
.review-title {
    text-align: center;
    font-size: 2.8rem;
    color: rgb(7, 27, 143);
    font-weight: 700;
}

.review-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    column-gap: 20px;
}

.btn1 {
    display: inline-block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}

.review-box .checked {
    color: #ff9529;
}

.review-box .review-text {
    margin: 1rem 0;
    color: #444;
}

.review-box {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.customer-photo img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}
.customer-photo p {
    padding-top: 20px;
}
/* ........ Contact Us........... */

#contact {
    padding: 5rem 0;
    background: rgb(129, 63, 63);
}
.contact-container {
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
.customer-phot{
    display: block;
    width: 150px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 30%;
    margin: auto;
}
.contact-img img {
    display: block;
    width: 100%;
    margin: auto;
    height: 410px;
    width: 510px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}

.img-container {
    margin: 0 1rem;
    position: relative;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}
.name{
    text-align:center;
}
.img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.form-container {
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container input {
    display: block;
    width: 100%;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    background: whitesmoke;
    padding-left: 20px;
    border: 1px solid;
    border-radius: 10px;
}

.form-container textarea {
    display: block;
    width: 100%;
    border: none;
    display: block;
    width: 100%;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    background: whitesmoke;
    padding-left: 20px;
    border: 1px solid;
    border-radius: 10px;
    color: #444;
    outline: none;
    resize: none;
}

.form-container h2 {
    font-size: 2.7rem;
    color: black;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: -1.2rem;
}

.form-container a {
    font-size: 1.3rem;
}

#footer h1 {
    text-align: center;
    font-size: 1.8rem;
    padding: 0.6rem;
    font-weight: 500;
    color: rgb(255, 162, 0);
    background: white;
    background-color: inherit; 
}
#footer{
    height: 150px;
    background-color: gray;
}
.social-media-links .fa {
    padding: 40px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-left: 60px;
    color: #000000;
}
.social-media-links  .fa:hover {
    color: rgb(230, 16, 16);
}
#ig{
    margin-left: 300px;
}
.fa-instagram{
    margin-left: 120px;
}
/* about us */
/* Aligning the team members horizontally */
#about-us h2{
    font-size: 2.7rem;
    text-align: center;
    padding-top: 30px;
    color: #35dd78;
}
#about-us{
    background-color: #378b79;
}
.team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* Styling each member card */
  .member {
    width: 23%; /* Adjust as needed */
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* Ensuring consistency in member card heights */
  .member img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style for member names */
  .member h3 {
    margin-top: 10px;
    font-size: 1.7rem;
    color: #00eaffa4;
  }
  
  /* Style for member roles */
  .member p {
    color: #6d2f2f;
  }
  
  /* Style for member descriptions */
  .member p:last-child {
    margin-top: 10px;
    color: #6d2f2f;
  }
  
/* ......../ media query /.......... */

@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-35deg);
    }
    /* social-media */
    .social-media-links {
        text-align: center;
      }
  
      .social-media-links .fa {
        padding: 20px;
        font-size: 30px;
        width: 60px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    /* ......./ food /......... */

    .food-container {
        flex-direction: column;
        align-items: stretch;
    }

    .food-type:not(:last-child) {
        margin-bottom: 3rem;
    }

    .food-type {
        box-shadow: 5px 5px 10px 0 #aaa;
    }

    .img-container {
        margin: 0;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 65%;
    }

    .navbar .menu-items li {
        font-size: 1.6rem;
    }

    .testimonial-container {
        flex-direction: column;
        text-align: center;
    }

    .food-menu-container img {
        margin: auto;
    }

    .food-menu-item {
        flex-direction: column;
        text-align: center;
    }

    .form-container {
        width: 90%;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .contact-img {
        width: 90%;
        margin: 3rem auto;
    }

    .logo {
        position: absolute;
        top: 16px;
        right: 15px;
        font-size: 2rem;
    }

    .testimonial-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .navbar .menu-items li {
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .img-container h3 {
        font-size: 1.5rem;
    }

    .img-container .btn {
        font-size: 0.7rem;
    }

    .review-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .showcase-area {
        height: 50vmax;
    }

    .review-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@media (orientation: landscape) and (max-width: 555px) {

    .review-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}
